*
{
	margin:0;
	padding:0;
	font-family: 'Josefin Sans', sans-serif;
}

.hide
{
	display:none;
}

.car , .enemy
{
	width:40px;
	height:70px;
	background-color:gold;
	position:absolute;
	bottom:75px;
	background-image:url('../images/car.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.gameArea
{
	width:400px;
	height:100vh;
	background-color:#333333;
	margin:auto;
	position:relative;
	overflow:hidden;
	border-right:7px dashed #c8d6e5;
	border-left:7px dashed #c8d6e5;
}

.lines
{
	width:10px;
	height:100px;
	background-color:white;
	position:absolute;
	margin-left:195px;
}

.score
{
	position:absolute;
	top:15px;
	left:20px;
	background-color:aqua;
	width:200px;
	line-height:70px;
	text-align:center;
	box-shadow:0 5px 5px #777;
	font-size:1.5rem;
	z-index:1;
}

.startScreen
{
	position:absolute;
	background-color:#ee5253;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	color:white;
	z-index:1;
	text-align:center;
	border:1px solid #ff6b6b;
	padding:15px;
	margin:auto;
	width:50%;
	cursor:pointer;
	font-family: carfont;
	letter-spacing:5;
	font-size:20px;
	word-spacing:3;
	line-height:30px;
	text-transform:uppercase;
	box-shadow:0 5px 5px #777;
}

.carGame
{
	background-color:rgb(57,170,121);
}

.tree
{
	width:50px;
	height:50px;
	position:absolute;
	background-image:url('../images/tree.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
}